[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "agvgd"]
	path = agvgd
	url = https://github.com/maialab/agvgd
[submodule "protean"]
	path = protean
	url = https://github.com/maialab/protean
	registered = false
