[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "agvgd"]
	path = agvgd
	url = https://github.com/maialab/agvgd
[submodule "grantham"]
	path = grantham
	url = https://github.com/maialab/grantham
[submodule "mskcc.oncotree"]
	path = mskcc.oncotree
	url = https://github.com/maialab/mskcc.oncotree
[submodule "protean"]
	path = protean
	url = https://github.com/maialab/protean
	registered = false
